.wrapper__bg
  .wrapper
    .header
      .header__main
        Prigrimage
      .header__sub
        〜 乃木坂46　〜
    .contents
      .contents__serach
        探す
      .contents__post
        投稿する
    .footer
      サインイン